<ion-header>
  <ion-navbar>
    <ion-title>
      Welcome to Ballot Builder!

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{ user.getUserName() }}'s Ballot</h1>
  <p>Here you will find the races and proposals for your district and state. You can click through to specific races, candidates, and measures to learn from others, share your opinions, and make mock votes.
  <h2>Races</h2>
  <ion-list>
    <ion-item *ngFor="let race of races">
      <h3>{{ race.raceName }}</h3>
      <p *ngFor="let candidate of candidates">
        <span *ngIf="candidate.raceKey == race.raceKey" (click)="viewCandidate(candidate.candidateKey)">
          {{ candidate.candidateName }} ({{ candidate.candidateParty }})
          <ion-icon name="checkmark-circle"></ion-icon>
        </span>
      </p>
    </ion-item>
  </ion-list>
  <h2>Measures</h2>
  <ion-list>
    <ion-item *ngFor="let measure of measures">
      <h3 (click)="viewMeasure(measure.measureKey)">{{ measure.measureName }}</h3>
    </ion-item>
  </ion-list>
</ion-content>
